/target/
/temp/
# maven ignore
target/
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

# eclipse ignore
.externalToolBuilders/
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
.factorypath

# logs #
logs

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db
Servers
.metadata

## Node.js
node_modules
jspm_packages
bower_components

## Sublime
*.sublime-workspace

## Visual Studio
.vs/
.vscode/
**/[Bb]in/[Dd]ebug/
**/[Bb]in/[Rr]elease/
[Oo]bj/
*.sln.*
*.vshost.*
*.suo
*.user
_ReSharper*
*.ReSharper
.ntvs_analysis.dat
**/[Bb]in/Microsoft.NodejsTools.WebRole.dll

## gitbook
_book

