.markdown-section {
    max-width: 1250px;
}
.sidebar div > ul > li > a{
    font-size: 16px;
}
.markdown-section a {
    text-decoration: none;
}
.markdown-section a:hover {
    text-decoration: underline;
}
.markdown-section h1 {
    margin: 1.2em 0;
}
.markdown-section h2 {
    margin: 1em 0;
}    
.markdown-section h3 {
    margin: .6em 0;
}
