.markdown-section {
    max-width: 1250px;
}
.sidebar div > ul > li > a{
    font-size: 15px;
}
.markdown-section a {
    text-decoration: none;
}
.markdown-section a:hover {
    text-decoration: underline;
}
.markdown-section h1 {
    margin: 1.2em 0;
}
.markdown-section h2 {
    margin: 1em 0;
}    
.markdown-section h3 {
    margin: .6em 0;
}

.x-color-default {
    color: #208fee !important;
}
.x-color-info {
    color: #2487d0 !important;
}
.x-color-success {
    color: #3ca23c !important;
}
.x-color-warning {
    color: #e28f19 !important;
}
.x-color-error {
    color: #d63a29 !important;
}
